@page "/auction"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@using DataLayer

@inject IBelasArtes _ba

<PageTitle>BelasArtes</PageTitle>

<div style="width: 100%; height: 100%; position: relative; background: white"></div>
<div style="width: 1366px; height: 824px; left: 37px; top: 147px; position: absolute; background: #D9D9D9; border-radius: 15px"></div>
<img style="width: 93px; height: 101px; left: 0px; top: 0px; position: absolute" src="logo.png" />
<div style="width: 247px; height: 50px; left: 749px; top: 22px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Leilões a decorrer</div>
<div style="width: 247px; height: 50px; left: 1010px; top: 23px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Leilões agendados</div>
<div style="width: 169px; height: 50px; left: 1271px; top: 23px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Perfil</div>
<div style="width: 169px; height: 74.46px; left: 566px; top: 9.85px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Home</div>
<div style="width: 0px; height: 57px; left: 733.50px; top: 22px; position: absolute; border: 1px black solid"></div>
<div style="width: 0px; height: 57px; left: 996px; top: 22px; position: absolute; border: 1px black solid"></div>
<div style="width: 0px; height: 57px; left: 1271px; top: 22px; position: absolute; border: 1px black solid"></div>
<div style="width: 1435.50px; height: 0px; left: 4px; top: 101px; position: absolute; border: 1px black solid"></div>
<div style="width: 675px; height: 662px; left: 54px; top: 252px; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 617px; height: 523px; left: 756px; top: 252px; position: absolute; background: #D9D9D9; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 614px; height: 125px; left: 759px; top: 789px; position: absolute; background: #1E1E1E; border-radius: 59px"></div>
<div style="width: 556px; height: 65px; left: 772px; top: 819px; position: absolute; text-align: center; color: white; font-size: 55px; font-family: Inter; font-weight: 400; word-wrap: break-word">LICITAR</div>
<div style="width: 570px; height: 84px; left: 107px; top: 161px; position: absolute; text-align: center; color: black; font-size: 64px; font-family: Inter; font-weight: 167; word-wrap: break-word">Nome da obra</div>
<div style="width: 543px; height: 72px; left: 792px; top: 173px; position: absolute; text-align: center; color: black; font-size: 45px; font-family: Inter; font-weight: 167; word-wrap: break-word">Termina em 00h00m00s</div>
<div style="width: 244px; height: 104px; left: 773px; top: 313px; position: absolute; text-align: center; color: black; font-size: 55px; font-family: Inter; font-weight: 300; word-wrap: break-word">€ @highestBid</div> 
<div style="width: 284px; height: 104px; left: 1072px; top: 313px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 400; word-wrap: break-word">@highestBidPlacer</div>
<div style="width: 190px; height: 54px; left: 806px; top: 276px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação atual</div>
<div style="width: 223px; height: 54px; left: 806px; top: 417px; position: absolute; color: black; font-size: 27px; font-family: Inter; font-weight: 300; word-wrap: break-word">Últimas licitações</div>
<div style="width: 266px; height: 54px; left: 806px; top: 658px; position: absolute; color: black; font-size: 26px; font-family: Inter; font-weight: 300; word-wrap: break-word">Número de licitações</div>
<div style="width: 190px; height: 54px; left: 1061px; top: 276px; position: absolute; text-align: center; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Efetuada por</div>
<div style="width: 531px; left: 798px; top: 716px; position: absolute">
    <div style="width: 471px; height: 48px; left: 60px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 167; word-wrap: break-word">€@shippingPortugal para Portugal, €@shippingInternational envio internacional</div>
    <img style="width: 50px; height: 44.92px; left: 0px; top: 1.07px; position: absolute" src="https://via.placeholder.com/50x45" /> <!-- Icon do camião, está no ubuntu o ficheiro -->
</div>
<div style="width: 88px; height: 42px; left: 933px; top: 481px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 167; word-wrap: break-word">€ @lastBidPrice</div>
<div style="width: 99px; height: 34px; left: 806px; top: 485px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">Há 00m</div>
<div style="width: 222px; height: 30px; left: 1049px; top: 487px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">Nome do comprador</div>
<div style="width: 88px; height: 42px; left: 933px; top: 539px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 167; word-wrap: break-word">€ @secondLastBidPrice</div>
<div style="width: 99px; height: 34px; left: 806px; top: 543px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">Há 00h</div>
<div style="width: 222px; height: 30px; left: 1049px; top: 545px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">Nome do comprador</div>
<div style="width: 88px; height: 42px; left: 933px; top: 597px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 167; word-wrap: break-word">€ @thirdLastPrice</div>
<div style="width: 99px; height: 34px; left: 806px; top: 601px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">Há 00d</div>
<div style="width: 222px; height: 30px; left: 1049px; top: 603px; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">Nome do comprador</div>
<div style="width: 166px; height: 56px; left: 93px; top: 1133px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Dimensão:</div>
<div style="width: 166px; height: 56px; left: 94px; top: 1003px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Descrição:</div>
<div style="width: 181px; height: 56px; left: 94px; top: 1263px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Autenticidade:</div>
<div style="width: 248px; height: 56px; left: 93px; top: 1393px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Movimento artístico:</div>
<div style="width: 166px; height: 56px; left: 463px; top: 1133px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Peso:</div>
<div style="width: 200px; height: 56px; left: 463px; top: 1263px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Data de criação:</div>
<div style="width: 450px; height: 39px; left: 94px; top: 1053px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">@paintingDescription</div>
<div style="width: 202px; height: 39px; left: 94px; top: 1189px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">A: @paintingHeight cm x L: @paintingWidth cm</div>
<div style="width: 202px; height: 39px; left: 93px; top: 1319px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">@paintingAuthenticity</div>
<div style="width: 202px; height: 39px; left: 94px; top: 1449px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">@paintingArtisticMovement</div>
<div style="width: 202px; height: 39px; left: 463px; top: 1319px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">@paintingCriationDate</div>
<div style="width: 202px; height: 39px; left: 464px; top: 1189px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">@paintingWeight kg</div>
<div style="width: 637px; height: 130px; left: -66px; top: -15px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>
<div style="width: 115px; height: 52px; left: 1098px; top: 659px; position: absolute; background: white"></div>
<div style="width: 99px; height: 34px; left: 1106px; top: 668px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Inter; font-weight: 167; word-wrap: break-word">@numberOfBids</div>


@code {
    private int highestBid { get; set; } = 125;
    // Inserir variável para o tempo restante
    private String highestBidPlacer { get; set; } = "Anonimous";
    private int shippingPortugal { get; set; } = 5;
    private int shippingInternational { get; set; } = 10;
    private int lastBidPrice { get; set; } = 115;
    // Inserir variável para o tempo desde a licitação
    private int secondLastBidPrice { get; set; } = 105;
    // Inserir variável para o tempo desde a licitação
    private int thirdLastPrice { get; set; } = 100;
    // Inserir variável para o tempo desde a licitação
    private String paintingDescription { get; set; } = "Pequeno texto a descrever a obra.";
    private int paintingHeight { get; set; } = 50;
    private int paintingWidth { get; set; } = 70;
    private String paintingAuthenticity { get; set; } = "Original";
    private String paintingArtisticMovement { get; set; } = "Abstrato";
    private String paintingCriationDate { get; set; } = "01/01/2000";
    private double paintingWeight { get; set; } = 1.5;
    private int numberOfBids { get; set; } = 7;

    private void values(){ // Substituir valores por funções da Interface
        highestBid = 125;
        //
        highestBidPlacer = "Anonimous";
        shippingPortugal = 5;
        shippingInternational = 10;
        lastBidPrice = 115;
        //
        secondLastBidPrice = 105;
        //
        thirdLastPrice = 100;
        //
        paintingDescription = "Pequeno texto a descrever a obra";
        paintingHeight = 50;
        paintingWidth = 70;
        paintingAuthenticity = "Original";
        paintingArtisticMovement = "Abstrato";
        paintingCriationDate = "01/01/2020";
        paintingWeight = 1.5;
        numberOfBids = 7;
    }
}
