@page "/licitacao"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime
@inject IPinturaDAO _pinturas
@inject ILicitacaoDAO _licitacoes
@inject ILeilaoDAO _leilao
@inject IUtilizadorDAO _utilizador
@inject AppState AppState
@using DataLayer


<PageTitle>BelasArtes</PageTitle>

<!-- Fundo -->
<div style="width: 100%; height: 90%; position: absolute; background: white"></div>
<div style="width: 100%; height: 120%; left: 0%; top: 15%; position: absolute; background: #D9D9D9;)"></div>


<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 30%; height: 20%; left: 2%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 89.5%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">LogOut</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloesAgendados'">
<div style="width: 20%; height: 10%; left: 71%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; 
font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Agendados</div>
</button>
<div style="width: 0%; height: 8%; left: 72.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloesAtivos'">
<div style="width: 20%; height: 10%; left: 55.5%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Ativos</div>
</button>
<div style="width: 0%; height: 8%; left: 58%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/profile'">
<div style="width: 10%; height: 10%; left: 49%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Perfil</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>


<!--Resto-->
<div style="width: 40%; height: 4.5% ; left : 5%; top: 22.5%; position: absolute; text-align: center; color: black; font-size: 3vw; font-family: Inter; font-weight: 600; word-wrap: break-word;  display: flex; align-items: center; justify-content: center;">
    @if (pintura != null){
        @($"{pintura.Nome}")
    }else{
        <span></span>
    }
</div>

@if (!string.IsNullOrEmpty(pintura?.Foto)){
    <img style="width: 42.5%; height: 87.5%; left: 5%; top: 35%; position: absolute; background: white; border-radius: 59px; border: 4px black solid" src="@pintura.Foto">
}else{
    <div style="width: 100%; height: 100%;left: -25%; text-align: center; color: red; font-size: 20px; font-family: Inter; font-weight: 500; position: absolute; top: 50%;">Foto não disponível</div>
}


<!--Caixa Direita-->
<div style="width: 40%; height: 4.5%; left: 55%; top: 22.5%; position: absolute; text-align: center; color: black; font-size: 2.7vw; font-family: Inter; font-weight: 600; word-wrap: break-word; display: flex; align-items: center; justify-content: center;">
    @{
        string tempoRestanteFormatado = "";
        if (leilao != null){
            TimeSpan tempoRestante = leilao.DataFim - DateTime.Now;
            tempoRestanteFormatado = $"Termina em: {tempoRestante.Days}D {tempoRestante.Hours}H {tempoRestante.Minutes}M {tempoRestante.Seconds}S";
        }else{
            tempoRestanteFormatado = "00D:00H:00M:00S";
        }
    }
    @tempoRestanteFormatado
</div>


<div style="width: 42.5%; height: 87.5%; left: 52.5%; top: 35%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 4px black solid"></div>
<div style="width: 42.5%; height: 87.5%; left: 42%; top: 39.5%; position: absolute; text-align: center; color: black; font-size: 2.1vw; font-family: Inter; font-weight: 500; word-wrap: break-word">Valor:</div>
<div style="width: 42.5%; height: 87.5%; left: 42%; top: 48.5%; position: absolute; text-align: center; color: black; font-size: 2.7vw; font-family: Inter; font-weight: 600; word-wrap: break-word">
    @if (licitacao != null && licitacao.Valor!=null){
        @($"{licitacao.Valor} €")
    }else if (leilao!=null){
        <span>@(leilao.PrecoInicial)€</span>
    }</div>

<div style="width: 42.5%; height: 87.5%; left: 61%; top: 39.5%; position: absolute; text-align: center; color: black; font-size: 2.1vw; font-family: Inter; font-weight: 500; word-wrap: break-word">Efetuada por:</div>
<div style="width: 42.5%; height: 87.5%; left: 61%; top: 48.5%; position: absolute; text-align: center; color: black; font-size: 2.8vw; font-family: Inter; font-weight: 600; word-wrap: break-word">
    @if (utilizador != null && licitacao!=null && licitacao.Valor > 0){
        @($"{utilizador.Nome}")
    }else{
        <span>Não licitado</span>
    }
</div>

<div style="width: 20%; height: 15%; left: 64%; top: 67.5%; position: absolute; background: white"></div>
<div style="width: 20%; height: 15%; left: 57%; top: 67.5%; position: absolute; text-align: center; color: black; font-size: 70px; 
font-family: Inter; font-weight: 167; word-wrap: break-word">€</div>
<input type="text" @bind="ValorLicitacao" placeholder="Valor da licitação..." style="width: 14%; height: 15%; left: 70%; top: 67.5%; position: absolute; background: #ffffff; padding: 5px; border: none; font-size: 20px; font-family: Inter; font-weight: 167; box-sizing: border-box; outline:none;">
<div style="width: 20%; height: 15%; left: 64%; top: 84%; position: absolute; text-align: center; color: black; font-size: 23px; font-family: Inter; font-weight: 167; word-wrap: break-word">
    @if (licitacao != null && leilao != null && licitacao.Valor>0){
            decimal valorMinimo = (decimal)(licitacao.Valor * 1.05); 
             @($"Valor mínimo: {(int)Math.Round(valorMinimo)}€")
        }else if (leilao!=null){
            @($"Valor mínimo: {leilao.PrecoInicial}€") 
        }
</div>

<div style="width: 30%; height: 10%; left: 61.5%; top: 98%; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura!= null){
        @($"{pintura.Peso*2}€ para Portugal, {pintura.Peso*4}€ envio internacional")
    }else{
        <span>Sem informação</span>
    }
</div>


@code {
    private int? ValorLicitacao {get;set;}
    private async Task ValidaDados(){
        if (ValorLicitacao==null) return;
        if(licitacao != null && leilao!=null && licitacao.Valor!=null){
            if (ValorLicitacao > licitacao.Valor * 1.05){
                DataLayer.Licitacao licitacao_nova = new DataLayer.Licitacao(null,
                ValorLicitacao,AppState.atual_user,DateTime.Now,AppState.atual_leilao);
                await _licitacoes.PutLicitacao(licitacao_nova);
                await JSRuntime.InvokeVoidAsync("history.back");
            } else {
                ValorLicitacao = 0; 
            }
        }else if (leilao!=null){
            if (ValorLicitacao >= leilao.PrecoInicial ){
                DataLayer.Licitacao licitacao_nova = new DataLayer.Licitacao(null,
                ValorLicitacao,AppState.atual_user,DateTime.Now,AppState.atual_leilao);
                await _licitacoes.PutLicitacao(licitacao_nova);
                await JSRuntime.InvokeVoidAsync("history.back");
            }else{
                ValorLicitacao = 0;
            }
        }
    }
}

<img style="width: 7.5%; height: 15%; left: 55.5%; top: 94%; position: absolute" src="truckLogo.png" />
<button @onclick="ValidaDados" style="width: 17.5%; height: 10%; left: 65.5%; top: 106.5%; position: absolute; background: black; border-radius: 59px; 
border: none; outline: none;">
    <span style="color: white; font-size: 250%; font-family: Inter;">Submeter</span>
</button>


<!--Fundo da pagina-->
<div style="width: 30%; height: 15%; left: 7.5%; top: 140%; position: absolute; color: black; font-size: 25px; font-family: 
Inter; font-weight: 400; word-wrap: break-word">Descrição:</div>
<div style="width: 70%; height: 15%; left: 7.5%; top: 145.5%; position: absolute; color: black; font-size: 20px; font-family: 
Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura != null){
        @($"{pintura.Descricao}")
    }else{
        <span></span>
    }
</div>

<div style="width: 30%; height: 15%; left: 7.5%; top: 155%; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Dimensão:</div>
<div style="width: 30%; height: 15%; left: 7.5%; top: 160.5%; position: absolute; color: black; font-size: 20px; font-family: 
Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura != null){
        @($"A: {pintura.Altura}cm x L: {pintura.Largura}cm")
    }else{
        <span></span>
    }
</div>

<div style="width: 30%; height: 15%; left: 35%; top: 155%; position: absolute; color: black; font-size: 25px; font-family: 
Inter; font-weight: 400; word-wrap: break-word">Peso:</div>
<div style="width: 30%; height: 15%; left: 35%; top: 160.5%; position: absolute; color: black; font-size: 20px; font-family: 
Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura != null){
        @($"{pintura.Peso}kg")
    }else{
        <span></span>
    }
</div>

<div style="width: 30%; height: 15%; left: 7.5%; top: 170%; position: absolute; color: black; font-size:25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Autenticidade:</div>
<div style="width: 30%; height: 15%; left: 7.5%; top: 175.5%; position: absolute; color: black; font-size:20px; font-family: Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura != null){
        <span>
            @if (pintura.Original != null){
                @if (pintura.Original == true){
                    @("Original")
                }else{
                    @("Replica")
                }
            }else{
                @("Nao especificado")
            }
        </span>
    }else{
        <span></span>
    }
</div>


<div style="width: 30%; height: 15%; left: 35%; top: 170%; position: absolute; color: black; font-size: 25px; font-family: 
Inter; font-weight: 400; word-wrap: break-word">Ano de criação:</div>
<div style="width: 30%; height: 15%; left: 35%; top: 175.5%; position: absolute; color: black; font-size: 20px; font-family: 
Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura != null){
        @($"{pintura.AnoCriacao}")
    }else{
        <span></span>
    }
</div>

<div style="width: 30%; height: 15%; left: 7.5%; top: 185%; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Movimento artístico:</div>
<div style="width: 30%; height: 15%; left: 7.5%; top: 190.5%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">
    @if (pintura != null){
        <span>
        @if (pintura.CodMovimentoArtistico==1){
            @("Antiguidade Ocidental e Oriental")
        }else if (pintura.CodMovimentoArtistico==2){
            @("Idade Média")
        }else if (pintura.CodMovimentoArtistico==3){
            @("Renascentista e Barroco")
        }else if (pintura.CodMovimentoArtistico==4){
            @("Moderno")
        }else if (pintura.CodMovimentoArtistico==5){
            @("Contemporâne")
        }else{
             @("Outro")
        }
        </span>
    }else{
        <span></span>
    }
</div>

@code {
    private DataLayer.Licitacao licitacao { get; set; } = new DataLayer.Licitacao();
    private DataLayer.Pintura pintura { get; set; } = new Pintura();
    private DataLayer.Leilao leilao {get; set; } = new Leilao();
    private Datalayer.Utilizador utilizador {get;set;} = new Datalayer.Utilizador();

    protected override async Task OnInitializedAsync(){
        leilao = (await _leilao.GetLeilaoById(AppState.atual_leilao)).First();
        try{
            licitacao = (await _licitacoes.LicitacoesDoLeilaoOrdenadasPorValor(AppState.atual_leilao)).First();
            if (licitacao.EmailLicitador!=null) utilizador = (await _utilizador.GetUtilizadorByEmail(licitacao.EmailLicitador)).First(); 
        }catch (Exception){}
        pintura = (await _pinturas.GetPinturaById(leilao.CodPintura)).First(); 
    }
}