@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@inject IUtilizadorDAO _utilizador
@inject ILeilaoDAO _leilao
@inject AppState AppState
@using DataLayer

<PageTitle>BelasArtes</PageTitle>

<div style="width: 100%; height: 155%; position: absolute; background: white"></div>

<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 30%; height: 20%; left: 2%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 89.5%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">LogOut</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloesAgendados'">
<div style="width: 20%; height: 10%; left: 71%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Agendados</div>
</button>
<div style="width: 0%; height: 8%; left: 72.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloesAtivos'">
<div style="width: 20%; height: 10%; left: 54%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Ativos</div>
</button>
<div style="width: 0%; height: 8%; left: 55.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/profile'">
<div style="width: 10%; height: 10%; left: 46%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Perfil</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>


<!--Resto-->
<div style="width: 80%; height: 40%; left: 10%; position: absolute; top: 20%; background: #D9D9D9; border-radius: 30px;"> <!-- Caixa com os dados pessoais -->

    <div style="width: 25%; height: 0.52%; left: 10%; top: 3.5%; position: absolute; color: rgb(0, 0, 0); font-size: 2.6vw; font-family: Inter; font-weight: 700; word-wrap: break-word">Dados pessoais</div>
    
    <div style="width: 50%; height: 0.29%; left: 10%; top: 22%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Nome: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Nome</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 37%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Rua: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Rua</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 52%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Código-Postal: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.CodigoPostal</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 67%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Localidade: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Localidade</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 82%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Cidade: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Cidade</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 22%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">País de residência: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.PaisResidencia</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 37%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">NIG: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.NIG</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 52%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">IBAN: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.IBAN</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 67%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Telemóvel: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.IBAN</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 82%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">E-mail: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Email</span>
        }else{
            <span></span>
        }
    </div>
</div>

<div style="width: 37.5%; height: 90%; left: 10%; top: 62.5%; position: absolute; border-radius: 20px; background: #D9D9D9;"> <!--Painel Compras-->
    <div style="width: 30%; height: 0.52%; left: 7%; top:1%; position: absolute; color: black; font-size: 2.6vw; font-family: Inter; font-weight: 800; word-wrap: break-word">Compras</div>
    @for(int i=(AppState.pagina_atual_compras*3);i<Math.Min(AppState.numero_compras-AppState.pagina_atual_compras*3,3);i++){
        <div> <!--Leilao 1 Compras-->
            <div style="width: 85%; height: 25%; left: 7.5%; top: @(10+(27*i))%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
            <div style="width: 35%; height: 25%; left: 7.5%; top: @(10+(27*i))%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(11+(27*i))%; position: absolute; color: black; font-size: 1.8vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">purchase1Name</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(16+(27*i))%; position: absolute; color: black; font-size: 1.5vw; font-family: Inter; font-weight: 167; text-align: center; word-wrap: break-word">purchase1Seller </div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(22+(27*i))%; position: absolute; color: black; font-size: 1.8vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">€ purchase1Price</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(28+(27*i))%; position: absolute; color: black; font-size: 1.8vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">purchase1Date </div>
        </div>
    }
    
 
    <!--Seta-->
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.5%; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.2%; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 500; text-align: center; word-wrap: break-word">@($"{AppState.pagina_atual_compras}/{((AppState.numero_compras / 3)+1)}")</div>
    <button style="border: none; padding: 0; margin: 0;">
    <img style="width: auto; height: 3%; left: 40%; top: 93.5%; position: absolute; mix-blend-mode: hard-light; background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
    <button style="border: none; padding: 0; margin: 0;">
    <img style="width: auto; height: 3%; left: 56%; top: 93.7%; position: absolute; mix-blend-mode: hard-light; transform: rotate(180deg); background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
</div>

<div style="width: 37.5%; height: 90%; left: 52.5%; top: 62.5%; position: absolute; border-radius: 20px; background: #D9D9D9;"> <!--Painel Vendas-->
    <div style="width: 30%; height: 0.52%; left: 7%; top:1%; position: absolute; color: black; font-size: 2.6vw; font-family: Inter; font-weight: 800; word-wrap: break-word">Vendas</div>
    @for(int i=(AppState.pagina_atual_vendas*3);i<Math.Min(AppState.numero_vendas-AppState.pagina_atual_vendas*3,3);i++){
        <div> <!--Leilao 1 Compras-->
            <div style="width: 85%; height: 25%; left: 7.5%; top: @(10+(27*i))%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
            <div style="width: 35%; height: 25%; left: 7.5%; top: @(10+(27*i))%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(11+(27*i))%; position: absolute; color: black; font-size: 1.8vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">sell1Name</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(16+(27*i))%; position: absolute; color: black; font-size: 1.5vw; font-family: Inter; font-weight: 167; text-align: center; word-wrap: break-word">sell1Buyer </div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(22+(27*i))%; position: absolute; color: black; font-size: 1.8vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">€ sell1Price</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(28+(27*i))%; position: absolute; color: black; font-size: 1.8vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">sell1Date </div>
        </div>
    }
    
    <!--Seta-->
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.5%; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.2%; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 500; text-align: center; word-wrap: break-word">@($"{AppState.pagina_atual_vendas}/{((AppState.numero_vendas / 3)+1)}")</div>
    <button style="border: none; padding: 0; margin: 0;">
    <img style="width: auto; height: 3%; left: 40%; top: 93.5%; position: absolute; mix-blend-mode: hard-light; background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
    <button style="border: none; padding: 0; margin: 0;">
    <img style="width: auto; height: 3%; left: 56%; top: 93.7%; position: absolute; mix-blend-mode: hard-light; transform: rotate(180deg); background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
</div>


@code {
    private Datalayer.Utilizador utilizador {get;set;}
    private List<DataLayer.Leilao> leiloesQueComprou {get; set; }
    
    private List<DataLayer.Leilao> leiloesQueVendeu {get; set; }

    protected override async Task OnInitializedAsync(){
        try{
            utilizador = (await _utilizador.GetUtilizadorByEmail(AppState.atual_user)).First(); 
            leiloesQueComprou = await _leilao.LeiloesAcabadosQueUserComprou(AppState.atual_user);
            leiloesQueVendeu = await _leilao.LeiloesAcabadosQueUserVendeu(AppState.atual_user);
            AppState.numero_compras=leiloesQueComprou.Count();
            AppState.numero_vendas=leiloesQueVendeu.Count();  
        }catch (Exception ex){
            Console.WriteLine($"Erro ao obter licitação: {ex.Message}");
        }
    }
}
