@page "/profile"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@inject IUtilizadorDAO _utilizador
@inject ILeilaoDAO _leilao
@inject IPinturaDAO _pinturas
@inject ILicitacaoDAO _licitacoes
@inject AppState AppState
@using DataLayer

<PageTitle>BelasArtes</PageTitle>


<div style="width: 100%; height: 170%; position: absolute; background: white"></div>

<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 30%; height: 20%; left: 2%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 89.5%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">LogOut</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloesAgendados'">
<div style="width: 20%; height: 10%; left: 71%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Agendados</div>
</button>
<div style="width: 0%; height: 8%; left: 72.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloesAtivos'">
<div style="width: 20%; height: 10%; left: 55.5%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Ativos</div>
</button>
<div style="width: 0%; height: 8%; left: 58%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button @onclick="RefreshPage">
<div style="width: 10%; height: 10%; left: 49%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Perfil</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>


<!--Resto-->
<div style="width: 100%; height: 160%; left: 0%; top: 15%; position: absolute; background: rgba(64, 64, 64, 0.72)"></div>
<div style="width: 80%; height: 40%; left: 10%; position: absolute; top: 20%; background: #D9D9D9; border-radius: 30px;"> <!-- Caixa com os dados pessoais -->

    <div style="width: 25%; height: 0.52%; left: 10%; top: 3.5%; position: absolute; color: rgb(0, 0, 0); font-size: 2.6vw; font-family: Inter; font-weight: 700; word-wrap: break-word">Dados pessoais</div>
    
    <div style="width: 50%; height: 0.29%; left: 10%; top: 22%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Nome: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Nome</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 37%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Rua: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Rua</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 52%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Código-Postal: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.CodigoPostal</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 67%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Localidade: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Localidade</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 10%; top: 82%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Cidade: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Cidade</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 22%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">País de residência: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.PaisResidencia</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 37%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">NIG: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.NIG</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 52%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">IBAN: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.IBAN</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 67%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">Telemóvel: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Telefone</span>
        }else{
            <span></span>
        }
    </div>

    <div style="width: 50%; height: 0.29%; left: 52.58%; top: 82%; position: absolute"><span style="color: black; font-size: 2vw; font-family: Inter; font-weight: 550; word-wrap: break-word">E-mail: </span><span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word"></span>
        @if (utilizador != null){
            <span style="color: black; font-size: 1.7vw; font-family: Inter; font-weight: 250; word-wrap: break-word">@utilizador.Email</span>
        }else{
            <span></span>
        }
    </div>
</div>

@code{
    private void nextPageCompras(){
        if (AppState.leilaoCompradoMostrar+3>=leiloesQueComprou.Count) return;
        AppState.leilaoCompradoMostrar+=3;
        NavigationManager.NavigateTo("/profile", forceLoad: true);
    }
    private void previousPageCompras(){
        if (AppState.leilaoCompradoMostrar<3) return;
        AppState.leilaoCompradoMostrar-=3;
        NavigationManager.NavigateTo("/profile", forceLoad: true);
    }

    private void nextPageVendas(){
        if (AppState.leilaoVendidoMostrar+3>=leiloesQueVendeu.Count) return;
        AppState.leilaoVendidoMostrar+=3;
        NavigationManager.NavigateTo("/profile", forceLoad: true);
    }
    private void previousPageVendas(){
        if (AppState.leilaoVendidoMostrar<3) return;
        AppState.leilaoVendidoMostrar-=3;
        NavigationManager.NavigateTo("/profile", forceLoad: true);
    }
}

<div style="width: 37.5%; height: 90%; left: 10%; top: 62.5%; position: absolute; border-radius: 20px; background: #D9D9D9;"> <!--Painel Compras-->
    <div style="width: 30%; height: 0.52%; left: 7%; top:1%; position: absolute; color: black; font-size: 2.6vw; font-family: Inter; font-weight: 800; word-wrap: break-word">Compras</div>
    @for(int i=AppState.leilaoCompradoMostrar;i<Math.Min(3+AppState.leilaoCompradoMostrar,leiloesQueComprou.Count);i++){
        <div> <!--Leiloes Comprados-->
            <div style="width: 85%; height: 25%; left: 7.5%; top: @(10+(27*(i%3)))%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
            <img style="width: 35%; height: 25%; left: 7.5%; top: @(10+(27*(i%3)))%; position: absolute; border-radius: 59px; border: 1px black solid" src=@pinturasQueComprou[i].Foto />
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(11+(27*(i%3)))%; position: absolute; color: black; font-size: 1.5vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">@($"Obra: {pinturasQueComprou[i].Nome}")</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(18+(27*(i%3)))%; position: absolute; color: black; font-size: 1vw; font-family: Inter; font-weight: 167; text-align: center; word-wrap: break-word">@($"Vendedor: {utilizadoresQueComprou[i].Nome}")</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(22+(27*(i%3)))%; position: absolute; color: black; font-size: 1vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">@($"Preço: {licitacoesQueComprou[i].Valor}€")</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(26+(27*(i%3)))%; position: absolute; color: black; font-size: 1vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">@($"Data: {licitacoesQueComprou[i].Data}") </div>
        </div>
    }

    <!--Seta-->
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.5%; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.2%; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 500; text-align: center; word-wrap: break-word">@((AppState.leilaoCompradoMostrar/3)+1)/@((leiloesQueComprou.Count/3)+1)</div>
    
    <button @onclick="previousPageCompras" style="border: none; padding: 0; margin: 0;" >
    <img style="width: auto; height: 3%; left: 40%; top: 93.5%; position: absolute; mix-blend-mode: hard-light; background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
    <button @onclick="nextPageCompras" style="border: none; padding: 0; margin: 0;" >
    <img style="width: auto; height: 3%; left: 56%; top: 93.7%; position: absolute; mix-blend-mode: hard-light; transform: rotate(180deg); background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
</div>

<div style="width: 37.5%; height: 90%; left: 52.5%; top: 62.5%; position: absolute; border-radius: 20px; background: #D9D9D9;"> <!--Painel Vendas-->
    <div style="width: 30%; height: 0.52%; left: 7%; top:1%; position: absolute; color: black; font-size: 2.6vw; font-family: Inter; font-weight: 800; word-wrap: break-word">Vendas</div>
    @for(int i=AppState.leilaoVendidoMostrar;i<Math.Min(3+AppState.leilaoVendidoMostrar,leiloesQueVendeu.Count);i++){
        <div> <!--Leiloes Vendidos-->
            <div style="width: 85%; height: 25%; left: 7.5%; top: @(10+(27*(i%3)))%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
            <img style="width: 35%; height: 25%; left: 7.5%; top: @(10+(27*(i%3)))%; position: absolute; border-radius: 59px; border: 1px black solid" src=@pinturasQueVendeu[i].Foto />
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(11+(27*(i%3)))%; position: absolute; color: black; font-size: 1.5vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">@($"Obra: {pinturasQueVendeu[i].Nome}")</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(18+(27*(i%3)))%; position: absolute; color: black; font-size: 1vw; font-family: Inter; font-weight: 167; text-align: center; word-wrap: break-word">@($"Comprador: {utilizadoresQueVendeu[i].Nome}")</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(22+(27*(i%3)))%; position: absolute; color: black; font-size: 1vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">@($"Preço: {licitacoesQueVendeu[i].Valor}€")</div>
            <div style="width: 50%; height: 8%; left: 42.5%; top: @(26+(27*(i%3)))%; position: absolute; color: black; font-size: 1vw; font-family: Inter; font-weight: 250; text-align: center; word-wrap: break-word">@($"Data: {licitacoesQueVendeu[i].Data}")</div>
        </div>
    }
    
    <!--Seta-->
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.5%; position: absolute; background: white; border-radius: 10px"></div>
    <div style="width: 25%; height: 5%; left: 37.5%; top: 92.2%; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 500; text-align: center; word-wrap: break-word">@((AppState.leilaoVendidoMostrar/3)+1)/@((leiloesQueVendeu.Count/3)+1)</div>    
    <button @onclick="previousPageVendas" style="border: none; padding: 0; margin: 0;" >
    <img style="width: auto; height: 3%; left: 40%; top: 93.5%; position: absolute; mix-blend-mode: hard-light; background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>
    <button @onclick="nextPageVendas" style="border: none; padding: 0; margin: 0;" >
    <img style="width: auto; height: 3%; left: 56%; top: 93.7%; position: absolute; mix-blend-mode: hard-light; transform: rotate(180deg); background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
    </button>

    <!--Fazer leilao-->
    <button onclick="window.location.href='/registerPainting'" style="width: 45%; height: 10%; left: -28.5%; top: 110%; position: absolute; background-color: black; border-radius: 15px;">
        <span style="color: white; font-size: 250%; font-family: Inter;">Realizar leilão</span>
    </button>

    
    
</div>


@code {
    private Datalayer.Utilizador utilizador {get;set;} = new Datalayer.Utilizador();
    private List<DataLayer.Leilao> leiloesQueComprou {get; set; } = new List<Leilao>();
    private List<DataLayer.Leilao> leiloesQueVendeu {get; set; } = new List<Leilao>();
    private List<DataLayer.Pintura> pinturasQueComprou {get; set;} = new List<Pintura>();
    private List<DataLayer.Pintura> pinturasQueVendeu {get;set;} = new List<Pintura>();
    private List<DataLayer.Licitacao> licitacoesQueComprou {get; set;} = new List<Licitacao>();
    private List<DataLayer.Licitacao> licitacoesQueVendeu {get; set;} = new List<Licitacao>();
    private List<Datalayer.Utilizador> utilizadoresQueComprou {get; set;} = new List<Datalayer.Utilizador>();
    private List<Datalayer.Utilizador> utilizadoresQueVendeu {get; set;} = new List<Datalayer.Utilizador>();

    private void RefreshPage(){
        AppState.leilaoCompradoMostrar=0;
        AppState.leilaoVendidoMostrar=0;
        NavigationManager.NavigateTo("/profile", forceLoad: true);
    }
    
    protected override async Task OnInitializedAsync(){
        try{
            utilizador = (await _utilizador.GetUtilizadorByEmail(AppState.atual_user)).First();

            if (utilizador != null){
                leiloesQueComprou = await _leilao.LeiloesAcabadosQueUserComprou(AppState.atual_user);
                leiloesQueVendeu = await _leilao.LeiloesAcabadosQueUserVendeu(AppState.atual_user);

                foreach (Leilao leilao in leiloesQueComprou){
                    var pintura = (await _pinturas.GetPinturaById(leilao.CodPintura)).First();
                    var licitacao = (await _licitacoes.LicitacoesDoLeilaoOrdenadasPorValor(leilao.CodPintura)).First();
                    
                    if (pintura != null && licitacao != null && leilao.EmailComprador!=null){
                        pinturasQueComprou.Add(pintura);
                        licitacoesQueComprou.Add(licitacao);
                        utilizadoresQueComprou.Add((await _utilizador.GetUtilizadorByEmail(leilao.EmailComprador)).First());
                    }
                }

                foreach(Leilao leilao in leiloesQueVendeu){
                    var pintura = (await _pinturas.GetPinturaById(leilao.CodPintura)).First();
                    var licitacao = (await _licitacoes.LicitacoesDoLeilaoOrdenadasPorValor(leilao.CodPintura)).First();

                    if (pintura != null && licitacao != null && leilao.EmailComprador!=null){
                        pinturasQueVendeu.Add(pintura);
                        licitacoesQueVendeu.Add(licitacao);
                        utilizadoresQueVendeu.Add((await _utilizador.GetUtilizadorByEmail(leilao.EmailComprador)).First());
                    }
                }
            }
        }
        catch (Exception){}
    }    
}